
<script src='/bundle.js'> </script>

<style>
	body { margin: 24px }
</style>
<body>
  <div>
  	<div>
        <input 
        	id="date"
          type="text" 
          placeholder="YYYYMMDD" 
          onkeypress="handleKeyPress(event)" 
          />
        <button onclick="parseDate(event)">Submit</button>
      </div>
      <br>
      <div>
      	<div>Kairos Timestamp: <div id="kt"></div></div>
      	<br>
      	<br>
      	<div id="gregorian"></div>
      </div>
    </div>
    <br><br>
    <div>
      <div>
          <label>Kairos Timestamp</label><br><br>
          <input 
            id="timestamp"
            type="text" 
            placeholder="" 
            onkeypress="" 
            />
          <button onclick="parseTimestamp(event)">Submit</button>
        </div>
        <br>
        <div>
          <div id="gregorian-from-kt"></div>
          <div id="kt-arr"></div>
        </div>


    </div>
</body>